* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
}

/* ===== CONTAINER ===== */
.container{
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 15px 15px;
    overflow: hidden scroll;
    background: #000;
    color: #fff;
}
/* ===== PROFILE HEADER ===== */
.profile-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.profile-avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.profile-info{
    margin-top: auto;
    padding: 0px 15px;
}
.profile-name{
    margin-bottom: 7px;
    font-size: 20px;
}
.skills{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.skill-tag{
    padding: 5px 7px;
    margin-right: 10px;
}
.title{

}