.modal {
    width: 95%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.modal-top {
    background: rgb(30,30,30);
    background: linear-gradient(173deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 85%);
    padding: 30px 20px;
}
.modal-top img {
    width: 80%;
    margin: 0 auto;
}