.modal {
    width: 95%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 7px;
}
.modal-top {
    background: rgb(30,30,30);
    background: linear-gradient(173deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 85%);
    padding: 30px 20px;
    text-align: center;
}
.modal-top img {
    width: 60%;
    margin-bottom: 20px;
}
.modal-top .modal-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
}
.modal-top .modal-content {
    font-size: 15px;
    font-weight: 400;
    color: #eee;
}
.modal-bottom {
    display: flex;
}
.modal-btn {
    flex: 1;
    background: #444444;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding: 10px;
}