.modal {
    width: 90%;
    background: var(--header-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    padding: 10px;
    font-size: 12px;
}